/*     font-family: 'Overpass', sans-serif;*/
/*     font-family: 'Ubuntu', sans-serif; */



/*      =====   VARIABLE    ===== */
:root {
    --lightRed: hsl(356, 100%, 66%);
    --veryLightRed: hsl(355, 100%, 74%);
    --veryDarkBlue: hsl(208, 49%, 24%);

    --white: hsl(0, 0%, 100%);
    --grayishBlue: hsl(240, 2%, 79%);
    --veryDarkGrayishBlue: hsl(207, 13%, 34%);
    --veryDarkBlackBlue: hsl(240, 10%, 16%);

    --bgVeryLightRed: hsl(13, 100%, 72%);
    --bgLightRed: hsl(353, 100%, 62%);

    --bgVeryDarkGrayBlue: hsl(237, 17%, 21%);
    --bgVeryDarkDesaturatedBlue: hsl(237, 23%, 32%);
}

/*      =====   GENERAL STYLES    ===== */

body {
    margin: 0;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

/*      =====   HEADER    ===== */

header {
    background-image: url(../images/bg-pattern-intro.svg), linear-gradient(135deg, var(--bgVeryLightRed) 0%, var(--bgLightRed) 100%); 
    background-repeat: no-repeat;
    background-size: 1300px, 100%;
    background-position: top -200px left -350px, center;
    
    font-family: 'Overpass', sans-serif;
    color: var(--white);

    padding: 0 30px 160px 30px;
    border-bottom-left-radius: 100px;
}

header nav {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #menu {
    display: none;
    /* transition: all 2s; */
    position: absolute;
    left: 0;
    margin: 50px 5vw;
    background-color: var(--white);
    border-radius: 5px;
    width: 90vw;
    padding: 30px;
    box-sizing: border-box;
}

header #menu label {
    display: block;
    margin-bottom: 20px;
}

header #menu label li::after {
    content: "( . . )";
    background-color: lightblue;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    background-image: url(../images/icon-arrow-dark.svg);
    background-repeat: no-repeat;
    background-position: center;
}

header #menu li {
    font-size: 19px;
    /* color: var(--veryDarkGrayishBlue);\ */
    color: var(--veryDarkBlue);
    font-weight: 600;
    margin-bottom: 20px;
}

header #menu li:last-child {
    margin-bottom: 0;
}

header #menu ul{
    display: none;
    border-radius: 10px;
    background-color: hsla(240, 3%, 79%, 0.336);
    padding: 25px 0;
    margin-bottom: 25px;
}
header #menu ul li {
    color: var(--veryDarkGrayishBlue);
    font-size: 17px;
}

header #menu div {
    border-top: 1px solid var(--grayishBlue);
    padding-top: 30px;
}

header #menu div li:last-of-type {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    color: var(--white);
    background-image: linear-gradient(135deg, var(--bgVeryLightRed) 0%, var(--bgLightRed) 100%); 
    box-sizing: border-box;
    width: 145px;
    border-radius: 30px;
    padding: 13px;
    margin: auto;
}

#openMenus:checked ~ #menus #menu{
    display: block;
}
#productMenu:checked ~ #menu #productOptions {
    display: block;
}
#companyMenu:checked ~ #menu #companyOptions {
    display: block;
}
#connectMenu:checked ~ #menu #connectOptions {
    display: block;
}

header h1 {
    font-size: 35px;
    margin: 50px 0 0 0;
}

header p {
    font-size: 20px;
    margin: 30px 0 40px 0;
}

header button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 600;
    width: 140px;
    height: 50px;
    border-radius: 30px;
}

#startButton {
    color: var(--veryLightRed);
    background-color: var(--white);
    /* background-color: transparent; */
    border: none;
    margin-right: 15px;
}

#learnButton {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
}

/*      =====   MAIN    ===== */

main {
        font-family: 'Overpass', sans-serif;
        padding: 80px 0 0 0;
}

main h1 {
    font-size: 28px;
    color: var(--veryDarkBlue);
    margin: 23px 30px 18px 30px;
    line-height: 28px;
}

main h2 {
    font-size: 28px;
    color: var(--veryDarkBlue);
    margin: 23px 30px 18px 30px;
    line-height: 28px;
}

main p {
    font-size: 17px;
    color: var(--veryDarkGrayishBlue);
    margin: 0 30px 50px 30px;
    line-height: 28px;
}

main .image {
    margin: 47px 0;
}

main .image img{
    width: 100%;
    max-width: 420px;
}

#firstSection {
    padding-bottom: 180px;
}

#secondSection {
    background-image: url(../images/bg-pattern-circles.svg), linear-gradient(135deg, var(--bgVeryDarkGrayBlue) 0%, var(--bgVeryDarkDesaturatedBlue) 100%);
    background-size: 600px, 100%;
    background-position: top -240px center, center;
    background-repeat: no-repeat;
    margin: 0 0 60px 0;
    padding-bottom: 70px;
    border-radius: 0 100px;
}

#secondSection .image{
    transform: translate(0, -175px);
    height: 180px;
}

#secondSection h2 {
    color: var(--white);
    font-size: 42px;
    line-height: 54px;
}

#secondSection p {
    color: var(--grayishBlue);
}

#thirdSection .image {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#thirdSection .image img {
    width: 500px;
    max-width: 600px;
}

/*      =====   FOOTER    ===== */

footer {
    background-color: var(--veryDarkBlackBlue);
    font-family: 'Ubuntu', sans-serif;
    margin-top: 95px;
    border-top-right-radius: 100px;
    padding: 70px 0 80px 0;
}
footer img {
    margin-bottom: 30px;
}

footer h2 {
    color: var(--white);
    font-size: 18px;
    margin: 55px 0 35px 0;
}

footer li {
    margin-top: 12px;
}

footer a {
    color: var(--grayishBlue);
    font-size: 18px;
    text-decoration: none;
}





/*      =====   RESPONSIVENESS    ===== */

@media(min-width: 800px) {
    
    /*      =====   HEADER    ===== */
    
    header {
        padding: 0 70px 160px 70px;
        background-size: 2000px, 100%;
        background-position: top -750px left -300px, center;

    }

    header nav {
        padding: 30px 0;
    }

    header h1 {
        font-size: 50px;
        margin-bottom: 0;
    }

    header p {
        margin-top: 15px;
    }

    header button {
        width: 160px;
    }

    /*      =====   MAIN    ===== */

    main {
        padding: 0;
    }

    #firstSection {
        padding: 90px 70px 180px 70px;
        position: relative;
    }

    #firstSection h1 {
        margin-top: 0;
        font-size: 32px;
    }

    #firstSection h2, #firstSection p {
        width: 50%;
        text-align: left;
    }
    
    #firstSection .image {
        position: absolute;
        right: 0;
        top: 100px;
        /* width: 900px; */
        /* height: 600px; */

        width: 50%;
        height: 610px;
        overflow: hidden;

        margin: auto 0;
    }

    #firstSection .image img {
        position: absolute;
        right: -150px;
        width: 530px;
        max-width: initial;
    }

    #secondSection {
        display: flex;
        padding: 100px 0;
        text-align: left;
    }

    #secondSection .image{
        transform: initial;
    }

    #secondSectionText {

    }

}

/*      =====   GENERAL STYLES    ===== */






/*      =====   FOOTER    ===== */




@media(min-width: 1200px) {
    header {
        padding: 0 150px 160px 150px;
    }

    #firstSection .image {
        top: 50px;

    }

    #firstSection .image img {
        width: 630px;
    }



}